<%= form_for(timesheet_entry) do |f| %>
  <% if timesheet_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timesheet_entry.errors.count, "error") %> prohibited this timesheet_entry from being saved:</h2>

      <ul>
      <% timesheet_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_name %>
    <%= f.text_field :task_name %>
  </div>

  <div class="field">
    <%= f.label :entry_date %>
    <span class="datetimepicker input-append">
      <%= f.text_field :entry_date, "data-format":"yyyy-MM-dd" %>
      <span class="add-on fas fa-calendar-alt fa-lg"></span>
    </span>
  </div>

  <div class="field">
    <%= f.label :start_time %>
     <%= f.time_select :start_time %>
    <%# <span id="timepicker" class="timepicker input-append">
      <%= f.text_field :start_time, "data-format":"hh:mm:ss"%>
      <span class="add-on fas fa-clock fa-lg"></span>
    </span> %>
  </div>

  <div class="field">
    <%= f.label :finish_time %>
     <%= f.time_select :finish_time %>
    <%# <span id="timepicker" class="timepicker input-append">
      <%= f.text_field :finish_time, "data-format":"hh:mm:ss"%>
      <span class="add-on fas fa-clock fa-lg"></span>
    </span> %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>
