<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @timesheet_entry.task_name %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @timesheet_entry.entry_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @timesheet_entry.start_time.strftime('%T') %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @timesheet_entry.finish_time.strftime('%T') %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @timesheet_entry.amount %>
</p>

<%= link_to 'Edit', edit_timesheet_entry_path(@timesheet_entry) %> |
<%= link_to 'Back', timesheet_entries_path %>
